<!-- <ngb-carousel class="car-carousel" *ngIf="images">
    <ng-template ngbSlide>
      <img class="carousel-pics" src="assets/822184236_e1dc5f85a0_o.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-pics" src="assets/1142630481_6a2ebfd6c3_o.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-pics" src="assets/2163827127_26681df11b_o.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel> -->
  <div class="text">
    Check Out Our Inventory
  </div>

  <div class="auto-cls-wrap">
    <div class="sedan">
      <div class="space"></div>
    </div>
    <div class="coupe">
        <div class="space"></div>
    </div>
    <div class="suv">
        <div class="space"></div>
    </div>
    <div class="mini-van">
        <div class="space"></div>
    </div>
    <div class="truck">
        <div class="space"></div>
    </div>

  </div>

  <div class="rep-inf-text">
    Get Your Car Serviced
  </div>

  <div class="rep-inf">
    <img src="http://localhost:4200/assets/42261097282_718041fa99_k.jpg" alt="">
    <div class="rep-inf-box">
      <h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu metus nec nisl suscipit eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent scelerisque lacinia nisi ut vulputate. Etiam in arcu sagittis, feugiat massa sed, dictum odio.
      </h3>
    </div>
  </div>

  <div class="rep-inf-text">
      Come Visit
  </div>

